* {
  margin: 0;
  padding: 0;
}

#canvas-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  background: white;
  border: black 1px solid;
}
