* {
  margin: 0;
  padding: 0;
}

#canvas-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  background:pink;
  border: black 1px solid;
   position: absolute; right:30px;
}

#sliderDIV {
  position: absolute; top:100px; left:25px;
  background-color:lightgreen;
  width:600px;
  height:500px;
}

#mainPage {
  background-color: rgb(169, 172, 37);
}
