@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  background-color: #d9d9d9;
  color: white;
  margin: 0;
  padding-left: 0;
}

.headerElement {
  float: left;
  height: 80px;
}

.l {
  padding-left: 2%;
  width: 6%;
}

.r {
  width: 90%;
  padding-left: 2%;
}

.headerMenu:after {
  content: '';
  display: table;
  clear: both;
}

.header {
  padding: 5px;
  text-align: left;
  padding-left: 50px;
  background: #1abc9c;
  color: white;
  font-size: 20px;
}

button {
  color: white;
  text-align: center;
  background-color: #666666;
}

#glcanvas-container {
  justify-content: center;
}

#timeline {
  display: flex;
  color: black;
}

#timeline-form {
  padding: 10px;
  display: flex;
  height: 200px;
  width: 200px;
}

#timeline-add-rule {
  height: inherit;
}

#timeline-buttons {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#right-side-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#model-border-canvases-container {
  width: 600px;
  height: 600px;
  position: relative;
}

/* Styling the canvas which overlaps the model canvas so that borders computed in Model.js constructor can be added on top of the communities.  */
#BorderCanvas {
  position: absolute;
  right: -1% !important;
  top: 0;
  bottom: 0;
}
#glcanvas {
  background: #d9d9d9;
  border: white 4px solid;
  right: 30px;
}

#sliderDIV {
  margin-top: 30px;
  color: black;
  padding: 10px;
  /* width: 580px; */
  margin-bottom: 100px;
}

.col-sm {
  color: black;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #05befc;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.3s;
  transition: opacity 0.3s;
}

.outputContainer {
  text-align: right;
}

#main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#left-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 45vw;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

h2 {
  color: rgb(41, 41, 41);
  padding-left: 5px;
  font-size: 38px;
}

h3 {
  font-size: 13px;
  text-align: center;
}

.stat {
  float: left;
  text-align: center;
  align-content: center;
  margin: 10px;
  width: 100px;
}

/* Clear floats after the columns */
.statrow:after {
  align-content: center;
  content: '';
  display: table;
  clear: both;
  margin-bottom: 20px;
}

#demographics {
  width: 750px;
  height: 500px;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  font-weight: 500;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.preset-panel {
  flex-flow: row;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn {
  background-color: #05befc;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-top: 30px;
}

.btn-secondary {
  background-color: white;
  color: black;
  border: 2px solid #05befc;
}

.btn-secondary:hover {
  background-color: #05befc;
  color: white;
}

.btn-preset {
  background-color: white;
  color: black;
  border: 2px solid #05befc;
  text-align: center;
  margin-top: 0;
  height: 50px;
}

.btn-preset:hover {
  background-color: #05befc;
  color: white;
}

.preset-panel {
  flex-direction: row;
}
#totalICU {
  position: relative;
  top: -34px;
  left: 20px;
}

#icuDIV {
  width: 100px;
  height: 80.52px;
}

#timeline-element {
  margin-top: 10px;
  margin-bottom: 20px;
}

#timeline-simple-form > * {
  margin-top: 30px;
  display: flexbox;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 15px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}
